{% extends "base.html" %}

{% block title %} Home {% endblock %}


{% block content %} 
<h1 align='center'>Bandwidth Demand</h1>
<br>
<ul class="list-group list-group-flush" id='note'>
</ul>
    <form method="POST">

        <h2 align='center'>Querry paths from source host to destiantion host</h2>

        <label for="checkin" class="font-alt font-size-14 px-0 text-danger">Node Y </label>
        <input type="text" name="node" class="px-0 box" placeholder="alpha">

        <label for="checkin" class="font-alt font-size-12 px-2 text-info">Umin</label>

        <input type="text" name="umin" class="box" value="" placeholder="Umin">

        <label for="checkin" class="font-alt font-size-12 px-2 text-info">Alpha</label>

        <input type="text" name="alpha" class="box" value="" placeholder="alpha">
        <br><br>
        <div align="center">
            <button type="submit" class='btn btn-primary'>
                Submit
            </button>
        </div>
    </form>

    <br><br>
    <form method="POST">

        <h2 align='center'>Apply Bandwidth Demand</h2>

        <label for="checkin" class="font-alt font-size-14 px-0 text-danger">Node Y </label>
        <input type="text" name="node" class="px-0 box" placeholder="alpha">

        <label for="checkin" class="font-alt font-size-12 px-2 text-info">Umin</label>

        <input type="text" name="umin" class="box" value="" placeholder="Umin">

        <label for="checkin" class="font-alt font-size-12 px-2 text-info">Alpha</label>

        <input type="text" name="alpha" class="box" value="" placeholder="alpha">
        <br><br>
        <div align="center">
            <button type="submit" class='btn btn-primary'>
                Submit
            </button>
        </div>
    </form>

    <br> <br> <br>
<h1 align='center'>Topology Information</h1>
<h2>Switch Information</h2>
<div>
    <ul>
        All Switches:

        <table id = "t">
            <tr>
              <th>Switch name</th>
              <th>Datapath</th>
              <th>Ends</th>
            </tr>
              <ul>
                  
                      <tr>
                          <td>title</td>
                          <td>start</td>
                          <td>end</td>
                      </tr>
                      <tr>
                        <td>title</td>
                        <td>start</td>
                        <td>end</td>
                    </tr>
          
              </ul>
          </table>
    </ul>
</div>
{% endblock %}
